html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


.flipInput-col {
  background-color: rgba(100, 100, 100, .5);
  width: 20px;
  height: 30px;
}
.flipInput-col1 {
  background-color: rgba(100, 100, 100, .5);
  width: 20px;
  height: 30px;
}

.flipBoardMain {
  border-color: red;
  /*border: 1px solid;*/
  width: fit-content;
  position: relative;
  margin: 0 auto;
margin-bottom: 20px;
}
#colorBoardMain {
  position: absolute;
  background: white;
  top:0;
  z-index: 1;
  width: 100%;
  background: transparent;
  height: 100%;
}
#mainTextArea {
  line-height: 30.7968px;
  cursor: text;
  overflow: hidden;
  resize: none;
  width: calc(100% + 1ex);
  position: absolute;
  z-index: 2;
  top:0;
  /*background: white;*/
  /*color: black;*/
  background:transparent;
  color: transparent;
  letter-spacing:  12px;
  font-kerning: normal;
  outline: 0;
  border: 0px solid transparent;

}
#mainTextArea:focus {
  outline: 0px;
  border: 0px ;
}

#mainTextArea::selection {
  color: transparent;
  background: transparent;
}
.alignButton {
  background: white;
  color: black;
  border:1px solid;
}
.alignButton.active {
  background: #0070f3;
  color: white;
}

.colorInputPlaceholder {
  background-color: transparent;
  width: 20px;
  height: 30px;
  padding: 0px;
}
.flipInput-line {
  margin: 0px;
  padding: 0px;
  display: flex;
}
.colorInputPlaceholder.whiteColorRect {
  background: white;
}

